
{% extends 'base.html.twig' %}

{% block title %}Social World{% endblock %}


{% block body %}

<div class="signup">
    <header class="header-title">
        
        <span>C</span>
        <span>o</span>
        <span>n</span>
        <span>n</span>
        <span>e</span>
        <span>c</span>
        <span>t</span>
        <span>e</span>
        <span>z</span>
        <span>&nbsp;</span>
        <span>v</span>
        <span>o</span>
        <span>u</span>
        <span>s</span>
        <span>&nbsp;</span>
        <span>a</span>
        <span>u</span>
        <span>&nbsp;</span>
        <span>m</span>
        <span>o</span>
        <span>n</span>
        <span>d</span>
        <span>e</span>
        <span>&nbsp;</span>
        <span>a</span>
        <span>v</span>
        <span>e</span>
        <span>c</span>
        

        <div class="social-lobster">
            <a href="{{path('signup')}}"><p>Social World</p></a>
           
        </div>
    </header>
    <div class="social-world">
        {% include "partials/_socialworld.html.twig" %}

        <div class="form-socialworld">
            <h2>Réinitialisation de votre mot de passe</h2>
            {{form_start(form)}}
                {{form_rest(form)}}
                <button class="btn btn-primary">envoyer un email</button>
            {{form_end(form)}}   
            
            {% for cat, list in app.flashes%}
            {% for message in list %}
                <div class="messageFlashe">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
               
    <footer class="footer-change-pwd">
        <span>Social World</span><p> &copy; Jocelyn Grelier 2023 - 2024</p>
    </footer>
</div>
{% endblock %}