{% extends 'base.html.twig' %}

{% block title %}Social project{% endblock %}

{% block body %}
{% include "partials/_navBar.html.twig" %}
<div class="row">
{% include "partials/_notification.html.twig" %}

<div class="content-boby">

    <div class="post">
        <div class="post-content">
            <div class="img-post">
                <a href="{{path('current_user')}}">
                    <img src="{{asset(app.user.picture) }}" class="avatar-post">
                </a> 
            </div>  
             
            {{ form_start(postForm) }}
            {{ form_row(postForm.picture, { 'attr': {'style': 'display: none;'} }) }}
            {{form_rest(postForm)}}
                <div class="envoyer-post">
                    <i id="upload-icon" class="fa-regular fa-image fa-2xl" ></i>
                    <button class="btn btn-primary">Envoyer</button>
                </div>
            {{ form_end(postForm) }}
        </div>
    </div>
    <script>
        document.getElementById('upload-icon').addEventListener('click', function() {
            document.getElementById('{{ postForm.picture.vars.id }}').click();
        });
    </script>
    

    {# --------   post show ------------ #}
    <div class="scroll">
        <ul>
            {% for post in posts %}
            <div class="post-show">
                <div class="img-avatar">
                    <a href="{{path('user', {id: post.author.id}) }}">
                    <img src="{{ asset(post.author.picture)}}" alt="" class="avatar" >
                </div>
                <div class="post-show-content">
                    <div class="post-info-user">
                        <h3>@ {{post.author.fullname}}</h3>
                    </a>
                        <small class="justify-content-end mr-10 ">{{post.createdAt | ago(locale= 'fr')}}</small>
                    </div>
                    <div class="post-user-content">
                        <p>{{ post.content }}</p>
                        {% if post.picture %}
                        <div class="postimage">
                            <img src="{{ asset(post.picture) }}" >
                        </div>
                    {% endif %}
                    </div>
                    <div class="post-user-icone">
                        <div class="row-icone">
                            <div class="comment-icone">
                                <a href="{{path('post_show', {id:post.id})}}">
                                    <i class="fa-regular fa-comment fa-lg"></i>
                                </a>
                            </div>
                            <p>{{post.nbresonse}}</p>
                            
                            {% include "partials/_rating.html.twig" with{rating: post.rating, from: 'post', id: post.id} %}
                        </div>  
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% include "partials/_friendslist.html.twig" %}
</div>

{% endblock %}
