<div class="left-bar">
    
        <div class="title ">
            <h2>Notifications</h2>
            
                <i class="fa-solid fa-bell fa-2xl {% if iffriendship %}has-notifications  point{% endif %}"></i>
          
        </div>
    
    <div class="notification">
        <div class="scroll-add">
            {% if friendships is not empty %}
            <ul>
                {% for friendship in friendships %}
                <div class="addFriends">
                    <div class="info-friendship">
                        <a href="{{path('user', {id: friendship.requester.id}) }}"><img src="{{asset(friendship.requester.picture) }}" alt=""></a>
                    </div>
                    <div class="info-User">
                        <h3>{{friendship.requester.fullname}}</h3>
                        <div class="btn-friendship">
                            <a href="{{path('accept-friend-request', {'id': friendship.requester.id}) }}" class="add-primary"><i class="fa-regular fa-circle-check fa-xl"></i></a>
                            <a href="{{path('remove-friend', {'id': friendship.requester.id}) }}" class="refused-gray"><i class="fa-regular fa-circle-xmark fa-xl"></i></a>
                            <a href="{{path('block-user', {'id': friendship.requester.id}) }}" class="blocked-red"><i class="fa-solid fa-lock fa-xl"></i></a>
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
            </ul>
            {% else %}
                <h3>Aucune notification disponible</h3>
                <img src="{{asset ('build/images/logo-world.png')}}" alt="">
            {% endif %}
        </div>
    </div>
</div>