<div class="img-socialworld">
    <img src="{{asset('build/images/phone/home-phones.png')}}" />
    <div class="phone">
        <img src="{{asset('build/images/phone/Frame 1.png')}}"  class="img_slider active">
        <img src="{{asset('build/images/phone/phonemsg.png')}}"  class="img_slider">
        <img src="{{asset('build/images/phone/phoneprofil.png')}}"  class="img_slider">
        <img src="{{asset('build/images/phone/phone 2perso.png')}}"  class="img_slider">
    </div>
</div>
